USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 1/08/2025 01:57:56 ******/
CREATE DATABASE [Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Tag] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildItems]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildItems](
	[ProductId] [nvarchar](450) NOT NULL,
	[BuildId] [nvarchar](450) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ComponentName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BuildItems] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[BuildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Builds]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Builds](
	[Id] [nvarchar](450) NOT NULL,
	[Value] [real] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Builds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartProducts]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartProducts](
	[ProductId] [nvarchar](450) NOT NULL,
	[CartId] [nvarchar](450) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartProducts] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [nvarchar](450) NOT NULL,
	[TotalValue] [real] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CateroryItems]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateroryItems](
	[ProductId] [nvarchar](450) NOT NULL,
	[CateroryId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_CateroryItems] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CateroryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompatibilityData]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompatibilityData](
	[ProductId] [nvarchar](450) NOT NULL,
	[SpecificationId] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CompatibilityData] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[SpecificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Percent] [real] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DiscountCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainCaterories]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCaterories](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MainCaterories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MomoTransactions]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MomoTransactions](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[RequestId] [nvarchar](max) NULL,
	[TransactionId] [nvarchar](max) NULL,
	[IsPaid] [bit] NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MomoTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ProductId] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[Price] [real] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[Value] [real] NOT NULL,
	[DateOfOrder] [datetime2](7) NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Receiver] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[NoteFromOrder] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[DiscountCodeId] [nvarchar](450) NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [nvarchar](450) NOT NULL,
	[IsThumbnail] [bit] NOT NULL,
	[ProductId] [nvarchar](450) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [real] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsDiscount] [bit] NOT NULL,
	[PriceAfterDiscount] [real] NOT NULL,
	[Status] [int] NOT NULL,
	[BrandId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [nvarchar](450) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Score] [real] NOT NULL,
	[DateOfReview] [datetime2](7) NOT NULL,
	[IsEdit] [bit] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewsImages]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewsImages](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReviewId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ReviewsImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SearchAble] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Specifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationsData]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationsData](
	[ProductId] [nvarchar](450) NOT NULL,
	[SpecificationId] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SpecificationsData] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[SpecificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCaterories]    Script Date: 1/08/2025 01:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCaterories](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MainCateroryId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_SubCaterories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250716120842_Intial', N'8.0.15')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5b6b395c-835b-4c68-b94e-3eb792613a1c', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8bfc8766-0e72-4921-9c58-b4a7bb61956e', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'09b68d68-90df-4152-badf-fea138e01e85', N'5b6b395c-835b-4c68-b94e-3eb792613a1c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8bad48ee-6aa8-4d5c-84f0-b1256cfd743e', N'5b6b395c-835b-4c68-b94e-3eb792613a1c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6e9c4af4-d972-4ef7-a1a1-e69b6cc15696', N'8bfc8766-0e72-4921-9c58-b4a7bb61956e')
GO
INSERT [dbo].[Brands] ([Id], [Name], [Tag], [CreatedAt], [UpdateAt]) VALUES (N'BR-4OWQUD', N'Asus', N'ASUS', CAST(N'2025-07-16T19:10:20.8697967' AS DateTime2), CAST(N'2025-07-16T19:10:20.8699085' AS DateTime2))
INSERT [dbo].[Brands] ([Id], [Name], [Tag], [CreatedAt], [UpdateAt]) VALUES (N'BR-5UKB2Q', N'HP', N'HP', CAST(N'2025-07-31T20:38:48.7677273' AS DateTime2), CAST(N'2025-07-31T20:38:48.7677284' AS DateTime2))
INSERT [dbo].[Brands] ([Id], [Name], [Tag], [CreatedAt], [UpdateAt]) VALUES (N'BR-8IC561', N'LG', N'LG', CAST(N'2025-08-01T01:31:45.6887855' AS DateTime2), CAST(N'2025-08-01T01:31:45.6887868' AS DateTime2))
GO
INSERT [dbo].[BuildItems] ([ProductId], [BuildId], [Quantity], [ComponentName]) VALUES (N'SP-8HVRGH', N'BUILD-QUMIRK', 1, N'CASE')
INSERT [dbo].[BuildItems] ([ProductId], [BuildId], [Quantity], [ComponentName]) VALUES (N'SP-94QPES', N'BUILD-QUMIRK', 1, N'CARD')
INSERT [dbo].[BuildItems] ([ProductId], [BuildId], [Quantity], [ComponentName]) VALUES (N'SP-9QPOFY', N'BUILD-QUMIRK', 1, N'MOTHERBOARD')
GO
INSERT [dbo].[Builds] ([Id], [Value], [UserId]) VALUES (N'BUILD-6FCDYK', 0, N'8bad48ee-6aa8-4d5c-84f0-b1256cfd743e')
INSERT [dbo].[Builds] ([Id], [Value], [UserId]) VALUES (N'BUILD-QUMIRK', 0, N'09b68d68-90df-4152-badf-fea138e01e85')
GO
INSERT [dbo].[Carts] ([Id], [TotalValue], [UserId]) VALUES (N'CRT-1FHX04', 0, N'8bad48ee-6aa8-4d5c-84f0-b1256cfd743e')
INSERT [dbo].[Carts] ([Id], [TotalValue], [UserId]) VALUES (N'CRT-VDBOUW', 0, N'09b68d68-90df-4152-badf-fea138e01e85')
GO
INSERT [dbo].[CateroryItems] ([ProductId], [CateroryId]) VALUES (N'SP-94QPES', N'CARD_AMD')
INSERT [dbo].[CateroryItems] ([ProductId], [CateroryId]) VALUES (N'SP-8HVRGH', N'CASE_ATX')
INSERT [dbo].[CateroryItems] ([ProductId], [CateroryId]) VALUES (N'SP-VSA02H', N'CASE_MICROATX')
GO
INSERT [dbo].[CompatibilityData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-0MUXE8', N'SC-TINTGF', N'DDR4')
INSERT [dbo].[CompatibilityData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-0UQHX5', N'SC-TINTGF', N'DDR5')
INSERT [dbo].[CompatibilityData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-1EBRR4', N'SC-9LNVUE', N'LGA1700')
GO
INSERT [dbo].[DiscountCodes] ([Id], [Name], [Code], [Description], [Percent], [IsActive], [EndDate], [CreatedAt], [UpdateAt]) VALUES (N'MGG-6FA86R', N'Sale 01', N'SALE', N'', 10, 1, CAST(N'2025-07-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-24T09:06:57.0663194' AS DateTime2), CAST(N'2025-07-24T09:06:57.0663202' AS DateTime2))
INSERT [dbo].[DiscountCodes] ([Id], [Name], [Code], [Description], [Percent], [IsActive], [EndDate], [CreatedAt], [UpdateAt]) VALUES (N'MGG-KT71WF', N'Sale hè', N'HESALE', N'', 10, 1, CAST(N'2025-07-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-16T22:20:10.8645247' AS DateTime2), CAST(N'2025-07-16T22:20:10.8645265' AS DateTime2))
INSERT [dbo].[DiscountCodes] ([Id], [Name], [Code], [Description], [Percent], [IsActive], [EndDate], [CreatedAt], [UpdateAt]) VALUES (N'MGG-VCBKPR', N'sale02', N'Sale02', N'', 10, 1, CAST(N'2025-07-31T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-24T09:12:26.7929043' AS DateTime2), CAST(N'2025-07-24T09:12:26.7929052' AS DateTime2))
GO
INSERT [dbo].[MainCaterories] ([Id], [Name], [Description]) VALUES (N'CARD', N'Card đồ họa', N'VGA')
INSERT [dbo].[MainCaterories] ([Id], [Name], [Description]) VALUES (N'CASE', N'Case', N'Case máy tính')
INSERT [dbo].[MainCaterories] ([Id], [Name], [Description]) VALUES (N'CPU', N'CPU', N'CPU')
GO
INSERT [dbo].[MomoTransactions] ([Id], [OrderId], [RequestId], [TransactionId], [IsPaid], [TransactionDate]) VALUES (N'TT-YlwMWm', N'DH-VS7ALJ', N'DH-VS7ALJQX5QVO', NULL, 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[OrderDetails] ([ProductId], [OrderId], [Price], [Quantity]) VALUES (N'SP-0JR14J', N'DH-MMFPLK', 790000, 30)
INSERT [dbo].[OrderDetails] ([ProductId], [OrderId], [Price], [Quantity]) VALUES (N'SP-2EDSWT', N'DH-MMFPLK', 1190000, 1)
INSERT [dbo].[OrderDetails] ([ProductId], [OrderId], [Price], [Quantity]) VALUES (N'SP-30FTQF', N'DH-MMFPLK', 1800000, 1)
GO
INSERT [dbo].[Orders] ([Id], [Value], [DateOfOrder], [PaymentMethod], [Receiver], [PhoneNumber], [Address], [NoteFromOrder], [Status], [DiscountCodeId], [UserId]) VALUES (N'DH-3ZWAXJ', 100000, CAST(N'2025-07-26T23:58:28.5060720' AS DateTime2), 1, N't', N'1111111111', N't, Quận 4, Phường 3', N'Chuyển khoản vào:
                                           VietComBank-1010101010
                                           AGBank-2020202020
                                            Với nội dung: DH-3ZWAXJ-user-TRA TIEN', 1, NULL, N'09b68d68-90df-4152-badf-fea138e01e85')
INSERT [dbo].[Orders] ([Id], [Value], [DateOfOrder], [PaymentMethod], [Receiver], [PhoneNumber], [Address], [NoteFromOrder], [Status], [DiscountCodeId], [UserId]) VALUES (N'DH-FBJQ7M', 90000, CAST(N'2025-07-19T11:23:00.4782198' AS DateTime2), 0, N'test', N'8888888888', N'test, Quận 8, Phường 4', N'', 5, N'MGG-KT71WF', N'09b68d68-90df-4152-badf-fea138e01e85')
INSERT [dbo].[Orders] ([Id], [Value], [DateOfOrder], [PaymentMethod], [Receiver], [PhoneNumber], [Address], [NoteFromOrder], [Status], [DiscountCodeId], [UserId]) VALUES (N'DH-MMFPLK', 3.46221E+07, CAST(N'2025-07-24T09:12:55.3723535' AS DateTime2), 1, N'1', N'1111111111', N'1, Quận 3, Phường 2', N'Chuyển khoản vào:
                                           VietComBank-1010101010
                                           AGBank-2020202020
                                            Với nội dung: DH-MMFPLK-user-TRA TIEN', 5, N'MGG-VCBKPR', N'09b68d68-90df-4152-badf-fea138e01e85')
GO
INSERT [dbo].[ProductImages] ([Id], [IsThumbnail], [ProductId]) VALUES (N'IMG-0H4', 1, N'SP-3FYCWI')
INSERT [dbo].[ProductImages] ([Id], [IsThumbnail], [ProductId]) VALUES (N'IMG-0HA', 0, N'SP-ZN88ZM')
INSERT [dbo].[ProductImages] ([Id], [IsThumbnail], [ProductId]) VALUES (N'IMG-0HP', 0, N'SP-AO9FQT')
GO
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [Quantity], [IsDiscount], [PriceAfterDiscount], [Status], [BrandId], [CreatedAt], [UpdateAt]) VALUES (N'SP-0JR14J', N'Ổ Cứng SSD WD Blue SN580 250GB M.2 NVMe PCIe Gen 4 (WDS250G3B0E)', 790000, N'', 10, 0, 0, 0, N'BR-I1P6NN', CAST(N'2025-07-18T20:07:35.0900234' AS DateTime2), CAST(N'2025-07-30T23:31:35.2396876' AS DateTime2))
GO
INSERT [dbo].[Reviews] ([Id], [Content], [Score], [DateOfReview], [IsEdit], [UserId], [ProductId], [OrderId], [CreatedAt], [UpdateAt]) VALUES (N'RV-8R4B6O', N'Xấu', 1, CAST(N'2025-07-19T10:32:07.3934129' AS DateTime2), 0, N'09b68d68-90df-4152-badf-fea138e01e85', N'SP-LVMA7Y', N'DH-RN9466', CAST(N'2025-07-19T10:32:07.3933335' AS DateTime2), CAST(N'2025-07-19T10:32:07.3933340' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [Content], [Score], [DateOfReview], [IsEdit], [UserId], [ProductId], [OrderId], [CreatedAt], [UpdateAt]) VALUES (N'RV-FIN73A', N'Xấu', 1, CAST(N'2025-07-24T09:16:32.2030209' AS DateTime2), 0, N'09b68d68-90df-4152-badf-fea138e01e85', N'SP-WT8IYA', N'DH-MMFPLK', CAST(N'2025-07-24T09:16:32.2030164' AS DateTime2), CAST(N'2025-07-24T09:16:32.2030167' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [Content], [Score], [DateOfReview], [IsEdit], [UserId], [ProductId], [OrderId], [CreatedAt], [UpdateAt]) VALUES (N'RV-XUIRP6', N'đẹp', 5, CAST(N'2025-07-24T09:16:00.4317066' AS DateTime2), 0, N'09b68d68-90df-4152-badf-fea138e01e85', N'SP-0JR14J', N'DH-MMFPLK', CAST(N'2025-07-24T09:16:00.4317031' AS DateTime2), CAST(N'2025-07-24T09:16:00.4317036' AS DateTime2))
GO
INSERT [dbo].[Specifications] ([Id], [Name], [SearchAble], [CreatedAt], [UpdateAt]) VALUES (N'SC-01E61Z', N'Pin', 1, CAST(N'2025-07-16T22:51:07.2672726' AS DateTime2), CAST(N'2025-07-16T22:51:07.2672734' AS DateTime2))
INSERT [dbo].[Specifications] ([Id], [Name], [SearchAble], [CreatedAt], [UpdateAt]) VALUES (N'SC-3TJTMD', N'Cổng giao tiếp', 0, CAST(N'2025-07-16T22:50:35.0429984' AS DateTime2), CAST(N'2025-07-16T22:50:55.5747211' AS DateTime2))
INSERT [dbo].[Specifications] ([Id], [Name], [SearchAble], [CreatedAt], [UpdateAt]) VALUES (N'SC-9LNVUE', N'Socket', 0, CAST(N'2025-07-16T19:31:34.9809257' AS DateTime2), CAST(N'2025-07-16T22:50:16.1341281' AS DateTime2))
GO
INSERT [dbo].[SpecificationsData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-0FGGQK', N'SC-AMTRHQ', N'Intel Iris Xe Graphics')
INSERT [dbo].[SpecificationsData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-0FGGQK', N'SC-SYH4TH', N'16 GB LPDDR5 Onboard 5200 MHz')
INSERT [dbo].[SpecificationsData] ([ProductId], [SpecificationId], [Value]) VALUES (N'SP-0FGGQK', N'SC-V24ZN2', N'Intel Core i7 Alder Lake - 1260P, 12 lõi / 16 luồng, up to 4.7 GHz, 18 MB cache')
GO
INSERT [dbo].[SubCaterories] ([Id], [Name], [MainCateroryId]) VALUES (N'CARD_AMD', N'AMD', N'CARD')
INSERT [dbo].[SubCaterories] ([Id], [Name], [MainCateroryId]) VALUES (N'CARD_INTEL', N'Intel', N'CARD')
INSERT [dbo].[SubCaterories] ([Id], [Name], [MainCateroryId]) VALUES (N'CARD_NVIDIA', N'NVDIA', N'CARD')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/08/2025 01:57:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/08/2025 01:57:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BuildItems_BuildId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_BuildItems_BuildId] ON [dbo].[BuildItems]
(
	[BuildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Builds_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Builds_UserId] ON [dbo].[Builds]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CartProducts_CartId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_CartProducts_CartId] ON [dbo].[CartProducts]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carts_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Carts_UserId] ON [dbo].[Carts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CateroryItems_CateroryId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_CateroryItems_CateroryId] ON [dbo].[CateroryItems]
(
	[CateroryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CompatibilityData_SpecificationId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_CompatibilityData_SpecificationId] ON [dbo].[CompatibilityData]
(
	[SpecificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MomoTransactions_OrderId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MomoTransactions_OrderId] ON [dbo].[MomoTransactions]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_DiscountCodeId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_DiscountCodeId] ON [dbo].[Orders]
(
	[DiscountCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_BrandId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Products_BrandId] ON [dbo].[Products]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reviews_OrderId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_OrderId] ON [dbo].[Reviews]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReviewsImages_ReviewId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_ReviewsImages_ReviewId] ON [dbo].[ReviewsImages]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SpecificationsData_SpecificationId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_SpecificationsData_SpecificationId] ON [dbo].[SpecificationsData]
(
	[SpecificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubCaterories_MainCateroryId]    Script Date: 1/08/2025 01:57:56 ******/
CREATE NONCLUSTERED INDEX [IX_SubCaterories_MainCateroryId] ON [dbo].[SubCaterories]
(
	[MainCateroryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BuildItems]  WITH CHECK ADD  CONSTRAINT [FK_builditem_build] FOREIGN KEY([BuildId])
REFERENCES [dbo].[Builds] ([Id])
GO
ALTER TABLE [dbo].[BuildItems] CHECK CONSTRAINT [FK_builditem_build]
GO
ALTER TABLE [dbo].[BuildItems]  WITH CHECK ADD  CONSTRAINT [FK_builditem_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[BuildItems] CHECK CONSTRAINT [FK_builditem_product]
GO
ALTER TABLE [dbo].[Builds]  WITH CHECK ADD  CONSTRAINT [FK_Builds_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Builds] CHECK CONSTRAINT [FK_Builds_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CartProducts]  WITH CHECK ADD  CONSTRAINT [FK_cartitem_cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartProducts] CHECK CONSTRAINT [FK_cartitem_cart]
GO
ALTER TABLE [dbo].[CartProducts]  WITH CHECK ADD  CONSTRAINT [FK_cartitem_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartProducts] CHECK CONSTRAINT [FK_cartitem_product]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CateroryItems]  WITH CHECK ADD  CONSTRAINT [FK_cateroryitem_caterory] FOREIGN KEY([CateroryId])
REFERENCES [dbo].[SubCaterories] ([Id])
GO
ALTER TABLE [dbo].[CateroryItems] CHECK CONSTRAINT [FK_cateroryitem_caterory]
GO
ALTER TABLE [dbo].[CateroryItems]  WITH CHECK ADD  CONSTRAINT [FK_cateroryItem_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CateroryItems] CHECK CONSTRAINT [FK_cateroryItem_product]
GO
ALTER TABLE [dbo].[CompatibilityData]  WITH CHECK ADD  CONSTRAINT [FK_compdata_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CompatibilityData] CHECK CONSTRAINT [FK_compdata_product]
GO
ALTER TABLE [dbo].[CompatibilityData]  WITH CHECK ADD  CONSTRAINT [FK_compdata_spec] FOREIGN KEY([SpecificationId])
REFERENCES [dbo].[Specifications] ([Id])
GO
ALTER TABLE [dbo].[CompatibilityData] CHECK CONSTRAINT [FK_compdata_spec]
GO
ALTER TABLE [dbo].[MomoTransactions]  WITH CHECK ADD  CONSTRAINT [FK_MomoTransactions_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MomoTransactions] CHECK CONSTRAINT [FK_MomoTransactions_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderdetail_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_orderdetail_product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderdetail_spec] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_orderdetail_spec]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DiscountCodes_DiscountCodeId] FOREIGN KEY([DiscountCodeId])
REFERENCES [dbo].[DiscountCodes] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DiscountCodes_DiscountCodeId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Orders_OrderId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products_ProductId]
GO
ALTER TABLE [dbo].[ReviewsImages]  WITH CHECK ADD  CONSTRAINT [FK_ReviewsImages_Reviews_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewsImages] CHECK CONSTRAINT [FK_ReviewsImages_Reviews_ReviewId]
GO
ALTER TABLE [dbo].[SpecificationsData]  WITH CHECK ADD  CONSTRAINT [FK_specdata_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SpecificationsData] CHECK CONSTRAINT [FK_specdata_product]
GO
ALTER TABLE [dbo].[SpecificationsData]  WITH CHECK ADD  CONSTRAINT [FK_specdata_spec] FOREIGN KEY([SpecificationId])
REFERENCES [dbo].[Specifications] ([Id])
GO
ALTER TABLE [dbo].[SpecificationsData] CHECK CONSTRAINT [FK_specdata_spec]
GO
ALTER TABLE [dbo].[SubCaterories]  WITH CHECK ADD  CONSTRAINT [FK_SubCaterories_MainCaterories_MainCateroryId] FOREIGN KEY([MainCateroryId])
REFERENCES [dbo].[MainCaterories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCaterories] CHECK CONSTRAINT [FK_SubCaterories_MainCaterories_MainCateroryId]
GO
USE [master]
GO
